<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero One</title>
    <!-- font-awesome-cdn-link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
     integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- general-css-file -->
    <link rel="stylesheet" href="../general.css">  
    <!-- specific-css-file-for-this-index -->
    <link rel="stylesheet" href="./style.css">  
</head>
<body>
    <!-- Header-section -->
    <!-- Header-section -->
    <header class="flex-full main-padd header-bar">
        <a href="main.html"> 
            <i class="fas fa-graduation-cap header-logo light"></i>
            <span class="light logo"> أكاديمية الزيرو </span>
        </a>
        <nav class="flex-full nav-lists">
            <div class="nav-item light flex-full">
                <span > تعلم الان </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="">مواضيع الدراسة</a>
                    <a href=""> الدورات التدريبية </a>
                    <a href=""> تمارين الدورات</a>
                    <a href=""> أمثلة وشروحات </a>
                    <a href=""> تحديات برمجية </a>
                    <a href=""> ادوات المطورين </a>
                    <a href=""> مواقع حل المساىل البرمجية </a>
                </div>
            </div>
            <div class="nav-item light flex-full" >
                <span> دليل التعليم </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="">  خارطة طريق مطور الواجهة الامامية</a>
                    <a href=""> خارطة طريق مطور الخلفية </a>
                    <a href=""> خارطة طريق مطور الواجهتين </a>
                    
                </div>
            </div>
            <div class="nav-item light flex-full">
                <span> خطة الدراسة </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="">خطة  <bdi>Html</bdi> </a>
                    <a href="">  خطة <bdi>css</bdi> </a>
                    <a href="">  خطة <bdi>JavaScript</bdi> </a>
                    <a href="">  خطة <bdi>TypeScript</bdi> </a>
                    <a href="">  خطة <bdi>Sass</bdi> </a>
                </div>
            </div>    
            <div class="nav-item light flex-full">
                <span>من القناة</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-c flex-full">
                    <a href=""> أهم الحلقات </a>
                    <a href=""> أسبوع الزيرو </a>
                    <a href=""> رحلتي مع الحياة </a>
                    <a href=""> الاستضافة </a>
                    <a href=""> اهم المسائل و الحلول </a>
                </div>
            </div>    
            <div class="nav-item light flex-full">
                <span> منوع </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-c flex-full">
                    <a href=""> ما الجديد </a>
                    <a href=""> سوال و جواب </a>
                    <a href=""> نصائح الزيرو </a>
                    <a href=""> معلومات من الكتب </a>
                    <a href=""> تصفح الكتب </a>
                </div>
            </div> 
            <div class="nav-item light flex-full" >
                <a href="./index.html" title="same-page-in-English" class="lang"> الانجليزيه </a> 
            </div>     
        </nav>
        <div class="mob">
            <i class="fa fa-bars light" onclick="showNav()"></i>
        </div> 
    </header>
    <!-- main-section -->
    <main class="flex-full">
        <div class="main-container light">
            <h1> الدورات التعليمية</h1>
            <p> هنا سوف تجد بإذن الله الدورات التعليمية الموجودة في قناتنا على اليوتيوب </p>
        </div>
    </main>
    <!-- courses-section -->
    <section class="courses main-padd" dir="ltr">
        <div class="courses-container">
            <!-- render-by-javascript -->
                            
        </div>
    </section>
    <!-- footer -->
    <footer class="flex-full main-padd">
        <div class="copy-right">
            <p> Made with <i class="fas fa-heart"></i> by Rabee Khalifa &copy;2023</p>
        </div>
        <div class="icons flex-full">
            <a href=""> <i class="fab fa-facebook-f fa-lg"></i> </a>
            <a href=""> <i class="fab fa-linkedin-in fa-lg"></i> </a>
            <a href=""> <i class="fab fa-github-alt fa-lg"></i> </a>
            <a href=""> <i class="fab fa-whatsapp fa-lg"></i> </a>
        </div>
    
    </footer>  
    <!-- main-js-file -->
    <script src="../main/main.js"></script>
    <!-- specific-js-file-for-this-index -->
    <script src="./script.js"></script>