<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero One</title>
    <!-- font-awesome-cdn-link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
     integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- general-css-file -->
    <link rel="stylesheet" href="../general.css">  
    <!-- specific-css-file-for-this-index -->
    <link rel="stylesheet" href="./style.css">  
</head>
<body>
    <!-- Header-section -->
    <header class="flex-full main-padd header-bar">
        <a href="main.html"> 
            <i class="fas fa-graduation-cap header-logo light"></i>
            <span class="light logo"> Zero Academy </span>
        </a>
        <nav class="flex-full nav-lists">
            <div class="nav-item light flex-full">
                <span > Learn Now </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="./components/learning articles/index.html"> Learning Topics </a>
                    <a href=""> Learning Courses </a>
                    <a href=""> Learning Courses Exercies </a>
                    <a href=""> Examples & Applications & Explaniations </a>
                    <a href=""> Programming Challenges </a>
                    <a href=""> Developers Tools </a>
                    <a href=""> Proplem solving Websites </a>
                </div>
            </div>
            <div class="nav-item light flex-full" >
                <span> Learning Guides </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href=""> Front End RoadMap </a>
                    <a href=""> Back End RoadMap </a>
                    <a href=""> Full Stack RoadMap </a>
                    
                </div>
            </div>
            <div class="nav-item light flex-full">
                <span> Learning Plan </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href=""> Html plan </a>
                    <a href=""> Css plan </a>
                    <a href=""> JavaScript plan </a>
                    <a href=""> TypeScript plan </a>
                    <a href=""> Sass plan </a>
                </div>
            </div>    
            <div class="nav-item light flex-full">
                <span>From The Chanel</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href=""> Most Importants episode </a>
                    <a href=""> Alzero week </a>
                    <a href=""> Jorney with Life </a>
                    <a href=""> Dealing with Hosting </a>
                    <a href=""> Important Problems & Solutions </a>
                </div>
            </div>    
            <div class="nav-item light flex-full">
                <span>Mixed</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-mix  flex-full">
                    <a href=""> News </a>
                    <a href=""> Question & Answer </a>
                    <a href=""> Alzero Advices </a>
                    <a href=""> Book's Snipptes </a>
                    <a href=""> Books Reviwes </a>
                </div>
            </div> 
            <div class="nav-item light flex-full" >
                <a href="./arb.html" title="same-page-in-Arabic" class="lang"> Arabic </a> 
            </div>     
        </nav>
        <div class="mob">
            <i class="fa fa-bars light" onclick="showNav()"></i>
        </div> 
    </header>
    <!-- main-section -->
    <main class="flex-full">
        <div class="main-container light">
            <h1> Learning Cources</h1>
            <p> Here you will find My courses from my channel on Youtube</p>
        </div>
    </main>
    <!-- courses-section -->
    <section class="courses main-padd">
        <div class="courses-container">
            <!-- render-by-javascript -->
                            
        </div>
    </section>
    <!-- footer -->
    <footer class="flex-full main-padd">
        <div class="copy-right">
            <p> Made with <i class="fas fa-heart"></i> by Rabee Khalifa &copy;2023</p>
        </div>
        <div class="icons flex-full">
            <a href=""> <i class="fab fa-facebook-f fa-lg"></i> </a>
            <a href=""> <i class="fab fa-linkedin-in fa-lg"></i> </a>
            <a href=""> <i class="fab fa-github-alt fa-lg"></i> </a>
            <a href=""> <i class="fab fa-whatsapp fa-lg"></i> </a>
        </div>
    
    </footer>  
    <!-- main-js-file -->
    <script src="../main/main.js"></script>
    <!-- specific-js-file-for-this-index -->
    <script src="./script.js"></script>