<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Articles</title>
    <!-- font-awesome-cdn-link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
     integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- general-css-file -->
    <link rel="stylesheet" href="../general.css">
    <!-- specific-css-file -->  
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- Header-section -->
    <header class="flex-full main-padd header-bar">
        <a href="main.html"> 
            <i class="fas fa-graduation-cap header-logo light"></i>
            <span class="light logo"> Zero Academy </span>
        </a>
        <nav class="flex-full nav-lists">
            <div class="nav-item light flex-full">
                <span > Learn Now </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href=""> Learning Topics </a>
                    <a href=""> Learning Courses </a>
                    <a href=""> Learning Courses Exercies </a>
                    <a href=""> Examples & Applications & Explaniations </a>
                    <a href=""> Programming Challenges </a>
                    <a href=""> Developers Tools </a>
                    <a href=""> Proplem solving Websites </a>
                </div>
            </div>
            <div class="nav-item light flex-full" >
                <span> Learning Guides </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href=""> Front End RoadMap </a>
                    <a href=""> Back End RoadMap </a>
                    <a href=""> Full Stack RoadMap </a>
                    
                </div>
            </div>
            <div class="nav-item light flex-full">
                <span> Learning Plan </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href=""> Html plan </a>
                    <a href=""> Css plan </a>
                    <a href=""> JavaScript plan </a>
                    <a href=""> TypeScript plan </a>
                    <a href=""> Sass plan </a>
                </div>
            </div>    
            <div class="nav-item light flex-full">
                <span>From The Chanel</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href=""> Most Importants episode </a>
                    <a href=""> Alzero week </a>
                    <a href=""> Jorney with Life </a>
                    <a href=""> Dealing with Hosting </a>
                    <a href=""> Important Problems & Solutions </a>
                </div>
            </div>    
            <div class="nav-item light flex-full">
                <span>Mixed</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-mix  flex-full">
                    <a href=""> News </a>
                    <a href=""> Question & Answer </a>
                    <a href=""> Alzero Advices </a>
                    <a href=""> Book's Snipptes </a>
                    <a href=""> Books Reviwes </a>
                </div>
            </div> 
            <div class="nav-item light flex-full" >
                <a href="./learningArticlearb.html" title="same-page-in-Arabic" class="lang"> Arabic </a> 
            </div>     
        </nav>
        <div class="mob">
            <i class="fa fa-bars light" onclick="showNav()"></i>
        </div> 
    </header>
    <!-- main-section -->
    <main class="flex-full">
        <div class="main-container light">
            <h1> Learning Articles</h1>
            <p> Learning Articles in Programming and Computer Science and more</p>
        </div>
    </main>
    <!-- big-section -->
    <section class="big-sec">
        <div class="advertise">
            <div class="godz flex-full"> 
                <p> we highly recomend learning programming basics course from Godezila Academy </p>
                <a href="" class="light"> here</a>
            </div>
            <div class="host">
                <p> 
                    to host your website on hostinger use this <a href="" >link</a> use this code <span class="z-code light"> Elzero </span>
                    and you can learn how to host your website from <a href=""> here </a>
                </p>
            </div>
        </div>    
        <div class="big-sec-container flex-full">
         <div class="main-sec-container">   
            <div class="main-side">
                  
                <div class="main-side-box">
                    <img src="../../images/latest-articles/developer-terms.png" alt="developer-terms">
                    <hr>
                    <a href=""> Some important Terms in Tech World</a>
                    <p>Some important Terms in Tech World with the definition of it</p>
                    <hr>
                    <div class="icons flex-full">
                        <div>
                            <span> 4536 </span>
                            <i class="fas fa-eye"></i>
                        </div>
                        <div>
                            <span> 23/5/2022 </span>
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="main-side-box">
                    <img src="../../images/latest-articles/good-pc-to-learn-programming.png" alt="good-pc-to-learn-programming">
                    <hr>
                    <a href=""> Good PC to Learn Programming</a>
                    <p> Before you buy one ! </p>
                    <hr>
                    <div class="icons flex-full">
                        <div>
                            <span> 7580 </span>
                            <i class="fas fa-eye"></i>
                        </div>
                        <div>
                            <span> 3/7/2023 </span>
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="main-side-box">
                    <img src="../../images/latest-articles/hardest-programming-language.png" alt="hardest programming language">
                    <hr>
                    <a href=""> Hardest Programming Language </a>
                    <p> Guess It ?!</p>
                    <hr>
                    <div class="icons flex-full">
                        <div>
                            <span> 3536 </span>
                            <i class="fas fa-eye"></i>
                        </div>
                        <div>
                            <span> 15/4/2023 </span>
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="pagination-container">
                <i class="fas fa-arrow-left prev-btn"></i>
                <ul class="pag">
                    <li value="1" class="active" onclick="pagination()"> 1 </li>
                    <li value="2" onclick="pagination()"> 2 </li>
                </ul>
                
                <i class="fas fa-arrow-right next-btn"></i>
            </div>
         </div>   
            <div class="secondary-side">
                <div class="secondary-side-box">
                    <i class="far fa-star"></i>
                    <span class="m-view"> Most Viewed</>
                    <hr>
                    <div>
                        <a href=""> 4 Application with HTML & CSS</a>
                        
                        <a href=""> Every things you need to know about HTML</a>
                        
                        <a href=""> Important Tools & Settings to Start</a>
                        
                        <a href=""> Questions of the new Learners </a>
                       
                    </div>
                    
                </div>
                <div class="secondary-side-box">
                    <i class="far fa-star"></i>
                    <span class="m-view"> Last Supporters</span>
                    <hr>
                    <div class="support-container">
                        <div class="supporter">
                            <img src="../../images/supporters/profile-15.jpg">
                            <div>
                                <p> Ahmed Mansor </p>
                                <p> 2023/7/20 </p>
                            </div>
                        </div>
                        <div class="supporter">
                            <img src="../../images/supporters/team1.webp">
                            <div>
                                <p> Will Davis </p>
                                <p> 2023/4/20 </p>
                            </div>
                        </div>
                        <div class="supporter">
                            <img src="../../images/supporters/team2.webp">
                            <div>
                                <p> Mohamed Ali </p>
                                <p> 2022/12/20 </p>
                            </div>
                        </div>
                        <div class="supporter">
                            <img src="../../images/supporters/team3.webp">
                            <div>
                                <p> Hani Musa </p>
                                <p> 2022/9/20 </p>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="secondary-side-box">
                    <i class="fas fa-calculator"></i>
                    <span class="m-view"> Statistics</>
                    <hr>
                    <div class="Stat-container">
                        <div class="Stat-box flex-full">
                            <div>
                                <i class="far fa-file-alt"></i>
                                <span> Articles</span>
                            </div>
                            <span> 10 </span>
                        </div>
                        <div class="Stat-box flex-full">
                            <div>
                                <i class="fas fa-laptop-code"></i>
                                <span> Learning paths</span>
                            </div>
                            <span> 10 </span>
                        </div>
                        <div class="Stat-box flex-full">
                            <div>
                                <i class="fas fa-user"></i>
                                <span> Supporters</span>
                            </div>
                            <span> 10 </span>
                        </div>
                        <div class="Stat-box flex-full">
                            <div>
                                <i class="far fa-question-circle"></i>
                                <span> Questions & Answers</span>
                            </div>
                            <span> 10 </span>
                        </div>
                    </div>
                </div>
                <div class="secondary-side-box sec-side-la">
                    <i class="far fa-file-alt"></i>
                    <span class="m-view"> Last Article</span>
                    <hr>
                    <a> Some Terms in Tech</a>
                    <img src="../../images/latest-articles/developer-terms.png" alt="Technology-Terms">
                </div>
            </div>
        </div>        
    </section>
    <!-- footer -->
    <footer class="flex-full main-padd">
        <div class="copy-right">
            <p> Made with <i class="fas fa-heart"></i> by Rabee Khalifa &copy;2023</p>
        </div>
        <div class="icons flex-full">
            <a href=""> <i class="fab fa-facebook-f fa-lg"></i> </a>
            <a href=""> <i class="fab fa-linkedin-in fa-lg"></i> </a>
            <a href=""> <i class="fab fa-github-alt fa-lg"></i> </a>
            <a href=""> <i class="fab fa-whatsapp fa-lg"></i> </a>
        </div>
    
    </footer>  
    <!-- main-js-file -->
    <script src="../main/main.js"></script>
    <!-- specific-js-file-for-this-index -->
    <script src="./script.js"></script>
</body>
</html>