<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>المقالات التعليمية </title>
    <!-- font-awesome-cdn-link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
     integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- general-css-file -->
    <link rel="stylesheet" href="../general.css">  
    <!-- specific-css-file -->
    <link rel="stylesheet" href="./style.css">
    <!-- specific-arabic-css-file -->
    <link rel="stylesheet" href="">  
</head>
<body>
    <!-- Header-section -->
    <header class="flex-full main-padd header-bar">
        <a href="main.html"> 
            <i class="fas fa-graduation-cap header-logo light"></i>
            <span class="light logo"> أكاديمية الزيرو </span>
        </a>
        <nav class="flex-full nav-lists">
            <div class="nav-item light flex-full">
                <span > تعلم الان </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="">مواضيع الدراسة</a>
                    <a href=""> الدورات التدريبية </a>
                    <a href=""> تمارين الدورات</a>
                    <a href=""> أمثلة وشروحات </a>
                    <a href=""> تحديات برمجية </a>
                    <a href=""> ادوات المطورين </a>
                    <a href=""> مواقع حل المساىل البرمجية </a>
                </div>
            </div>
            <div class="nav-item light flex-full" >
                <span> دليل التعليم </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="">  خارطة طريق مطور الواجهة الامامية</a>
                    <a href=""> خارطة طريق مطور الخلفية </a>
                    <a href=""> خارطة طريق مطور الواجهتين </a>
                    
                </div>
            </div>
            <div class="nav-item light flex-full">
                <span> خطة الدراسة </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="">خطة  <bdi>Html</bdi> </a>
                    <a href="">  خطة <bdi>css</bdi> </a>
                    <a href="">  خطة <bdi>JavaScript</bdi> </a>
                    <a href="">  خطة <bdi>TypeScript</bdi> </a>
                    <a href="">  خطة <bdi>Sass</bdi> </a>
                </div>
            </div>    
            <div class="nav-item light flex-full">
                <span>من القناة</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-c flex-full">
                    <a href=""> أهم الحلقات </a>
                    <a href=""> أسبوع الزيرو </a>
                    <a href=""> رحلتي مع الحياة </a>
                    <a href=""> الاستضافة </a>
                    <a href=""> اهم المسائل و الحلول </a>
                </div>
            </div>    
            <div class="nav-item light flex-full">
                <span> منوع </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-c flex-full">
                    <a href=""> ما الجديد </a>
                    <a href=""> سوال و جواب </a>
                    <a href=""> نصائح الزيرو </a>
                    <a href=""> معلومات من الكتب </a>
                    <a href=""> تصفح الكتب </a>
                </div>
            </div> 
            <div class="nav-item light flex-full" >
                <a href="../../index.html" title="same-page-in-English" class="lang"> الانجليزيه </a> 
            </div>     
        </nav>
        <div class="mob">
            <i class="fa fa-bars light" onclick="showNav()"></i>
        </div> 
    </header>
    <!-- main-section -->
    <main class="flex-full">
        <div class="main-container light">
            <h1> المقالات التعليمية </h1>
            <p> المقالات التعليمية في مجال البرمجة </p>
        </div>
    </main>
    <!-- big-section -->
    <section class="big-sec">
        <div class="advertise">
            <div class="godz flex-full"> 
                <p> <bdi> نوصي وبشدة بكورس تعلم أساسات البرمجة من أكاديمية Codezilla  </bdi> </p>
                <a href="" class="light"> من هنا</a>
            </div>
            <div class="host">
                <p> 
                    <bdi>
                        لحجز إستضافة من Hostinger عن طريقي إستخدم هذا<a href="" >الرابط</a> وإستعمل كود الخصم التالي 
                        <span class="z-code light"> Elzero </span>
                        ويمكنك مشاهدة شرح التعامل مع الإستضافة من <a href=""> من هنا </a>
                    </bdi>
                </p>
            </div>
        </div>    
        <div class="big-sec-container flex-full">
         <div class="main-sec-container">   
            <div class="main-side">
                  
                <div class="main-side-box">
                    <img src="../../images/latest-articles/developer-terms.png" alt="developer-terms">
                    <hr>
                    <a href=""> بعض المصطلحات في عالم التقنية ومعناها</a>
                    <p>بعض المصطلحات التي تسمعها في عالم البرمجة مع تعريف بسيط لها</p>
                    <hr>
                    <div class="icons flex-full">
                        <div>
                            <span> 4536 </span>
                            <i class="fas fa-eye"></i>
                        </div>
                        <div>
                            <span> 23/5/2022 </span>
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="main-side-box">
                    <img src="../../images/latest-articles/good-pc-to-learn-programming.png" alt="good-pc-to-learn-programming">
                    <hr>
                    <a href=""> الجهاز المناسب لتعلم البرمجة</a>
                    <p> أنت لا تحتاج لجهاز امكانياته قوية حتى تتعلم البرمجة </p>
                    <hr>
                    <div class="icons flex-full">
                        <div>
                            <span> 7580 </span>
                            <i class="fas fa-eye"></i>
                        </div>
                        <div>
                            <span> 3/7/2023 </span>
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="main-side-box">
                    <img src="../../images/latest-articles/hardest-programming-language.png" alt="hardest programming language">
                    <hr>
                    <a href=""> أصعب لغة برمجة وهل البرمجة صعبة ؟ </a>
                    <p> أصعب لغة برمجة هي أول لغة ستتعامل معها سواء كانت فعلا سهلة أو صعبة</p>
                    <hr>
                    <div class="icons flex-full">
                        <div>
                            <span> 3536 </span>
                            <i class="fas fa-eye"></i>
                        </div>
                        <div>
                            <span> 15/4/2023 </span>
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="pagination-container">
                <i class="fas fa-arrow-right prev-btn"></i>
                <ul class="pag">
                    <li value="1" class="active" onclick="pagination()"> 1 </li>
                    <li value="2" onclick="pagination()"> 2 </li>
                </ul>
                
                <i class="fas fa-arrow-left next-btn"></i>
            </div>
         </div>   
            <div class="secondary-side">
                <div class="secondary-side-box">
                    <i class="far fa-star"></i>
                    <span class="m-view">  الأعلى مشاهدة</span>
                    <hr>
                    <div>
                        <a href=""> <bdi> 4 تصاميم + تطبيقات منوعة على HTML + CSS </bdi></a>
                        
                        <a href=""> <bdi> كل ما تحتاجه لتعلم لغة HTML بكل إصداراتها </bdi></a>
                        
                        <a href=""> أهم الأدوات والإعدادات للبدأ في المجال</a>
                        
                        <a href=""> الأسئلة التي يسألها من يبدأ التعلم وإجابتها </a>
                       
                    </div>
                    
                </div>
                <div class="secondary-side-box">
                    <i class="far fa-star"></i>
                    <span class="m-view"> اخر الداعمين</span>
                    <hr>
                    <div class="support-container">
                        <div class="supporter">
                            <img src="../../images/supporters/profile-15.jpg">
                            <div>
                                <p> احمد منصور </p>
                                <p> 2023/7/20 </p>
                            </div>
                        </div>
                        <div class="supporter">
                            <img src="../../images/supporters/team1.webp">
                            <div>
                                <p> واىل ديفيس </p>
                                <p> 2023/4/20 </p>
                            </div>
                        </div>
                        <div class="supporter">
                            <img src="../../images/supporters/team2.webp">
                            <div>
                                <p> محمد علي </p>
                                <p> 2022/12/20 </p>
                            </div>
                        </div>
                        <div class="supporter">
                            <img src="../../images/supporters/team3.webp">
                            <div>
                                <p> هاني موسى </p>
                                <p> 2022/9/20 </p>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="secondary-side-box">
                    <i class="fas fa-calculator"></i>
                    <span class="m-view"> الاحصاىيات</span>
                    <hr>
                    <div class="Stat-container">
                        <div class="Stat-box flex-full">
                            <div>
                                <i class="far fa-file-alt"></i>
                                <span> المقالات</span>
                            </div>
                            <span> 10 </span>
                        </div>
                        <div class="Stat-box flex-full">
                            <div>
                                <i class="fas fa-laptop-code"></i>
                                <span> المسارات التعليمية</span>
                            </div>
                            <span> 10 </span>
                        </div>
                        <div class="Stat-box flex-full">
                            <div>
                                <i class="fas fa-user"></i>
                                <span> الداعمين</span>
                            </div>
                            <span> 10 </span>
                        </div>
                        <div class="Stat-box flex-full">
                            <div>
                                <i class="far fa-question-circle"></i>
                                <span> الاسىلة و الاجوبه</span>
                            </div>
                            <span> 10 </span>
                        </div>
                    </div>
                </div>
                <div class="secondary-side-box sec-side-la">
                    <i class="far fa-file-alt"></i>
                    <span class="m-view"> اخر مقال</span>
                    <hr>
                    <a> بعض المصطلحات في عالم التقنية</a>
                    <img src="../../images/latest-articles/developer-terms.png" alt="Technology-Terms">
                </div>
            </div>
        </div>        
    </section>
    <!-- footer -->
    <footer class="flex-full main-padd">
        <div class="copy-right">
            <p> Made with <i class="fas fa-heart"></i> by Rabee Khalifa &copy;2023</p>
        </div>
        <div class="icons flex-full">
            <a href=""> <i class="fab fa-facebook-f fa-lg"></i> </a>
            <a href=""> <i class="fab fa-linkedin-in fa-lg"></i> </a>
            <a href=""> <i class="fab fa-github-alt fa-lg"></i> </a>
            <a href=""> <i class="fab fa-whatsapp fa-lg"></i> </a>
        </div>
    
    </footer>  
    <!-- main-js-file -->
    <script src="../main/main.js"></script>
    <!-- specific-js-file-for-this-index -->
    <script src="./script.js"></script>
</body>
</html>