<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>أكاديمية الزيرو</title>
    <!-- font-awesome-cdn-link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
     integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- general-css-file -->
    <link rel="stylesheet" href="../general.css">  
    <!-- main-css-file -->
    <link rel="stylesheet" href="./main.css">
    <!-- main-arabic-css-file -->
    <link rel="stylesheet" href="./mainarb.css">  
</head>
<body>
    <!-- Header-section -->
    <header class="flex-full main-padd header-bar">
        <a href="main.html"> 
            <i class="fas fa-graduation-cap header-logo light"></i>
            <span class="light logo"> أكاديمية الزيرو </span>
        </a>
        <nav class="flex-full nav-lists">
            <div class="nav-item light flex-full">
                <span > تعلم الان </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="">مواضيع الدراسة</a>
                    <a href=""> الدورات التدريبية </a>
                    <a href=""> تمارين الدورات</a>
                    <a href=""> أمثلة وشروحات </a>
                    <a href=""> تحديات برمجية </a>
                    <a href=""> ادوات المطورين </a>
                    <a href=""> مواقع حل المساىل البرمجية </a>
                </div>
            </div>
            <div class="nav-item light flex-full" >
                <span> دليل التعليم </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="">  خارطة طريق مطور الواجهة الامامية</a>
                    <a href=""> خارطة طريق مطور الخلفية </a>
                    <a href=""> خارطة طريق مطور الواجهتين </a>
                    
                </div>
            </div>
            <div class="nav-item light flex-full">
                <span> خطة الدراسة </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="">خطة  <bdi>Html</bdi> </a>
                    <a href="">  خطة <bdi>css</bdi> </a>
                    <a href="">  خطة <bdi>JavaScript</bdi> </a>
                    <a href="">  خطة <bdi>TypeScript</bdi> </a>
                    <a href="">  خطة <bdi>Sass</bdi> </a>
                </div>
            </div>    
            <div class="nav-item light flex-full">
                <span>من القناة</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-c flex-full">
                    <a href=""> أهم الحلقات </a>
                    <a href=""> أسبوع الزيرو </a>
                    <a href=""> رحلتي مع الحياة </a>
                    <a href=""> الاستضافة </a>
                    <a href=""> اهم المسائل و الحلول </a>
                </div>
            </div>    
            <div class="nav-item light flex-full">
                <span> منوع </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-c flex-full">
                    <a href=""> ما الجديد </a>
                    <a href=""> سوال و جواب </a>
                    <a href=""> نصائح الزيرو </a>
                    <a href=""> معلومات من الكتب </a>
                    <a href=""> تصفح الكتب </a>
                </div>
            </div> 
            <div class="nav-item light flex-full" >
                <a href="../../index.html" title="same-page-in-English" class="lang"> الانجليزيه </a> 
            </div>     
        </nav>
        <div class="mob">
            <i class="fa fa-bars light" onclick="showNav()"></i>
        </div> 
    </header>
    <!-- main-section -->
    <main>
        <!-- wave-background-from-shape-divider-website -->
        <div class="custom-shape-divider-bottom-1689573313">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
        <div class="main-info">
            <h2> مرحبا بكم في أكاديمية الزيرو</h2>
            <p> أكاديمية الزيرو هي منصة تعليمية تقوم على تقديم العديد من مسارات تطوير الويب بشرح تفصيلي تفاعلي باللغة العربية، 
                وخطط دراسة مع اختبارات لضمان فهم الكود والتطبيق عليه.
            </p>
        </div>
        <form class="main-search">
            <input type="text" name="" id="" placeholder="البحث في الاكاديمية">
            <button type="submit"> بحث</button>
        </form>
    </main>
    <!-- learning-path-section -->
    <section class="main-padd lp">
        <h2> طريق التعلم</h2>
        <div class="full-line"></div>
        <div class="short-line"></div>
        <div class="lp-container flex-full wrap">
            <div class="lp-box">
                <img src="../../images/learning-path/frontend-track.svg" alt="frontend-track">
                <a href=""> مسار تطوير الواجهة الامامية</a>
            </div>
            <div class="lp-box">
                <img src="../../images/learning-path/frontend-track.svg" alt="frontend-track">
                <a href=""> مسار تطوير الواجهة الخلفية</a>
            </div>
            <div class="lp-box">
                <img src="../../images/learning-path/javascript-track.svg" alt="full-stack">
                <a href=""> مسار تطوير الواجهتين </a>
            </div>
        </div>
    </section>
    <!-- learning-plan-section -->
    <section class="main-padd">
        <h2> خطة الدراسة</h2>
        <div class="full-line"></div>
        <div class="short-line"></div>
        <div class="lpath-container flex-full wrap">
            <div >
                <a href=""> 
                    <img src="../../images/langauges/html.png" alt="html">
                </a>
                
            </div>
            <div >
                <a href="">
                    <img src="../../images/langauges/css.png" alt="css">
                </a>
                
            </div>
            <div >
                <a href="">
                    <img src="../../images/langauges/javascript.png" alt="javascript">
                </a>
            </div>
            <div >
                <a href="">
                    <img src="../../images/langauges/sass.png" alt="sass">
                </a>
            </div>
            <div >
                <a href="">
                    <img src="../../images/langauges/typescript.png" alt="typescript">
                </a>
            </div>
        </div>
    </section>
    <!-- latest-front-end-application -->
    <section class="light-gray-bg latest-app" >
        <h2> اخر تطبيقات الواجهة الامامية</h2>
        <div class="full-line"></div>
        <div class="short-line"></div>
        <div class="container flex-full wrap">
            <div class="same-box">
                <img src="../../images/latest-front-end-app/maxresdefault (1).jpg" alt="">
                <a>  عمل لعبة <bdi>hang game</bdi> </a>
            </div>
            <div class="same-box">
                <img src="../../images/latest-front-end-app/maxresdefault (2).jpg" alt="">
                <a> كيفية استخدام <bdi>Currency Api</bdi> </a>
            </div>
            <div class="same-box">
                <img src="../../images/latest-front-end-app/maxresdefault (3).jpg" alt="">
                <a>   عمل <bdi>Quiz App</bdi> </a>
            </div>
            <div class="same-box">
                <img src="../../images/latest-front-end-app/maxresdefault.jpg" alt="">
                <a>   عمل <bdi>Page Scroll Progress</bdi> </a>
            </div>
        </div>  
    </section>
    <!-- latest-articles-section -->
    <section class="main-padd latest-art">
        <h2> احدث المقالات</h2>
        <div class="full-line"></div>
        <div class="short-line"></div>
        <div class="container flex-full wrap">
            <div class="same-box">
                <img src="../../images/latest-articles/developer-terms.png" alt="">
                <a> مصطلحات ممهمة</a>
            </div>
            <div class="same-box">
                <img src="../../images/latest-articles/good-pc-to-learn-programming.png" alt="">
                <a> افضل كمبيوتر للبرمجة</a>
            </div>
            <div class="same-box">
                <img src="../../images/latest-articles/hardest-programming-language.png" alt="">
                <a> أصعب لغة برمجه</a>
            </div>
            <div class="same-box">
                <img src="../../images/latest-articles/symbols-names.png" alt="">
                <a> أسماء رموز</a>
            </div>
        </div>
        <hr>

    </section>
    <!-- random-articles -->
    <section class="main-padd random-art">
        <h2> مقالات عشوائية </h2>
        <div class="full-line"></div>
        <div class="short-line"></div>
        <div class="container flex-full wrap">
            <div class="same-box">
                <img src="../../images/random-articles/cover-websites.png" alt="">
                <a> مواقع مهمة للمبرمجين</a>
            </div>
            <div class="same-box">
                <img src="../../images/random-articles/ecommerce-shop.png" alt="">
                <a>   تطبيق عملي <bdi>Ecommerce App</bdi> </a>
            </div>
            <div class="same-box">
                <img src="../../images/random-articles/practical-bootstrap.png" alt="">
                <a> عمل تصاميم بوتستراب متجاوبه للشاشات</a>
            </div>
            <div class="same-box">
                <img src="../../images/random-articles/programs-needed.png" alt="">
                <a> أدوات مهمة للمطورين</a>
            </div>
        </div>  
    </section>
    <!-- news-section -->
    <section class="news light-gray-bg">
        <h2> الجديد </h2>
        <div class="full-line"></div>
        <div class="short-line"></div>
        <div class="container flex-full wrap">
            <div class="new-box">
                <a href=""> رابط التكليفات و خطة الدراسة في صفحة الدورات التعليمية</a>
                <p> إضافة رابط التكليفات وخطة الدراسة في صفحة الدورات التعلمية  </p>
            </div>
            <div class="new-box">
                <a href="">     <bdi>إضافة إسم القسم و Label التمرين داخل خطط الدراسة</bdi> </a>
                <p> إضافة إسم القسم داخل خطة الدراسة  </p>
            </div>
            <div class="new-box">
                <a href=""> تحديث تصميم ومحتويات صفحة خطط الدراسة الأساسية</a>
                <p> تم تحديث تصميم صفحة خطة الدراسة الأصلية </p>
            </div>
            <div class="new-box">
                <a href=""> تغيير تصميم أقسام الدروس داخل الكورس</a>
                <p>   وتم اضافة عدد دروس   <bdi> c++ </bdi>  تم تغيير تصميم أقسام الدروس داخل الكورس وبدأنا بقسم ال   </p>
            </div>
            <div class="new-box">
                <a href=""> إضافة قسم من القناة</a>
                <p> tab جديد يحتوي على جميع الأقسام الموجود بها فيديوهات  </p>
            </div>
        </div>
    </section>
     <!-- new-explanation-section -->
     <section class="news-exp main-padd">
        <h2> أخر الشروحات </h2>
        <div class="full-line"></div>
        <div class="short-line"></div>
        <div class="container flex-full wrap">
            <div class="new-exp-box">
                <a href=""><bdi>  جلب ال ASCII Code من ال Characters والعكس</bdi></a>
                <p> جافاسكريبت  </p>
            </div>
            <div class="new-exp-box">
                <a href="">  <bdi>تأكد أن عناصر ال Array كلها نفس العنصر أم لا</bdi> </a>
                <p> جافاسكريبت  </p>
            </div>
        </div>
    </section>
    <!-- random-questions -->
    <section class="random-q main-padd light-gray-bg">
        <div class="conatiner flex-full wrap">
            <img src="../../images/questions.svg" alt="question">
            <div class="question-side">
                <h2> أسئلة عشوائية </h2>
                <div class="full-line"></div>
                <div class="short-line"></div>
                <div class="question">
                    <p>أنسب وقت لتعلم البرمجة أو التصميم؟</p>
                    <p>   ما هي <bdi>Higher Order Function </bdi>؟  </p>
                    <p>   أين اجد <bdi> Html Referances </bdi>؟ </p>
                    <p>   ما هو   <bdi>OTP </bdi> ؟</p>
                    <p> how to be updated with all new Technologies <bdi>  </bdi>؟ </p>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <footer class="flex-full main-padd" dir="ltr">
            <div class="copy-right">
                <p> Made with <i class="fas fa-heart"></i> by Rabee Khalifa &copy;2023</p>
            </div>
            <div class="icons flex-full">
                <a href=""> <i class="fab fa-facebook-f fa-lg"></i> </a>
                <a href=""> <i class="fab fa-linkedin-in fa-lg"></i> </a>
                <a href=""> <i class="fab fa-github-alt fa-lg"></i> </a>
                <a href=""> <i class="fab fa-whatsapp fa-lg"></i> </a>
            </div>
        
    </footer>     
    <script src="./main.js"></script> 
</body>
</html>
